# <p style='text-align: center;'> Python 과학 프로그래밍 기초</p>

## <p style='text-align: center;'> 8. Pandas (1)

### <p style='text-align: center;'> 2021년 1학기 </p>
### <p style='text-align: center;'> 한림대학교 소프트웨어융합대학 </p>
### <p style='text-align: center;'> 박섭형 </p>

#### Pandas의 핵심 데이터 구조

* Series: 동일 유형 데이터를 가질 수 있는 1차원 라벨이 붙은 배열(labeled array). 크기 변경 불가능
* DataFrame: 이형 데이터 컬럼을 가질 수 있는 일반적인 2차원 라벨이 붙은 구조. 크기 변경 가능

#### Pandas Series 객체

* 모든 데이터 유형을 보유할 수 있는 1차원 라벨이 붙은 배열 (labeled array)
* 라벨들을 집합적으로 index라고 부름
* 0 개 이상의 동일한 유형의 데이터 수용
* Series 생성자의 파라미터로 스칼라, NumPy ndarray, Python list, Python Dict 사용 가능

#### Pandas Series 객체 생성

pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

In [1]:
import numpy as np
import pandas as pd
pd.__version__

'1.2.1'

In [2]:
series0 = pd.Series()
series0

<ipython-input-2-913b0d753b5e>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series0 = pd.Series()

Series([], dtype: float64)

In [7]:
series0 = pd.Series(dtype=object)
series0

Series([], dtype: object)

In [8]:
series0.values

array([], dtype=object)

In [6]:
series0.index

Index([], dtype='object')

In [9]:
series1 = pd.Series(1.5)
series1

0    1.5
dtype: float64

In [10]:
series1.values

array([1.5])

In [11]:
type(series1.values)

numpy.ndarray

In [12]:
series1.index

RangeIndex(start=0, stop=1, step=1)

In [13]:
type(series1.index)

pandas.core.indexes.range.RangeIndex

In [14]:
series2 = pd.Series([1.0, 1.5, 2.0])
series2

0    1.0
1    1.5
2    2.0
dtype: float64

In [15]:
series2.values

array([1. , 1.5, 2. ])

In [16]:
series2.index

RangeIndex(start=0, stop=3, step=1)

In [128]:
series2[1]

1.5

In [129]:
series = pd.Series([10, 20, 30, 40, 50])
series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [136]:
series = pd.Series([10, 20, 30, 40, 50])
series[[1,3,4]]

1    20
3    40
4    50
dtype: int64

#### 두 Series 객체 이어붙이기

In [18]:
series3 = series1.append(series2)
series3

0    1.5
0    1.0
1    1.5
2    2.0
dtype: float64

In [19]:
series3[0]

0    1.5
0    1.0
dtype: float64

In [20]:
series3[1]

1.5

In [21]:
series3.index

Int64Index([0, 0, 1, 2], dtype='int64')

#### Dictionary로부터 Series 생성

In [22]:
dictionary = {1: 1.0, 3:1.5, 5:2.0}
series4 = pd.Series(dictionary)
series4

1    1.0
3    1.5
5    2.0
dtype: float64

In [23]:
series4.values

array([1. , 1.5, 2. ])

In [24]:
series4.index

Int64Index([1, 3, 5], dtype='int64')

In [49]:
series5 = pd.Series(3, index=['a', 'b', 'c'] )
series5

a    3
b    3
c    3
dtype: int64

In [29]:
series5 = pd.Series([1,3,5], index=list('ace') )
series5

a    1
c    3
e    5
dtype: int64

In [30]:
series5['c']

3

#### Series 객체를 리스트로 변환

In [50]:
series3 = pd.Series(range(1,10,2))
print("type of series: ", type(series3))
print(series3)
print("Pandas Series to Python list")
lst = series3.tolist()
print(lst)
type(lst)

type of series:  <class 'pandas.core.series.Series'>
0    1
1    3
2    5
3    7
4    9
dtype: int64
Pandas Series to Python list
[1, 3, 5, 7, 9]

list

#### Series 객체를 딕셔너리로 변환

In [51]:
series4 = pd.Series(range(1,10,2))
print(series4)
print("type of series: ", type(series4))
print("Pandas Series to Python dictionary")
print(series4.to_dict())
type(series4.to_dict())

0    1
1    3
2    5
3    7
4    9
dtype: int64
type of series:  <class 'pandas.core.series.Series'>
Pandas Series to Python dictionary
{0: 1, 1: 3, 2: 5, 3: 7, 4: 9}

dict

In [52]:
series5 = pd.Series(range(1,10,2), index=list('abcde'))
print(series5)
print("type of series: ", type(series5))
print("Pandas Series to Python dictionary")
print(series5.to_dict())
type(series5.to_dict())

a    1
b    3
c    5
d    7
e    9
dtype: int64
type of series:  <class 'pandas.core.series.Series'>
Pandas Series to Python dictionary
{'a': 1, 'b': 3, 'c': 5, 'd': 7, 'e': 9}

dict

#### Series 객체의 name 속성

In [53]:
series = pd.Series(range(1,10,2), name='odds')
series

0    1
1    3
2    5
3    7
4    9
Name: odds, dtype: int64

In [54]:
series.name

'odds'

#### Series 객체의 명시적 인덱스 지정

In [32]:
series = pd.Series([1.0, 1.5, 2.0, 2.5],
                   index = (1, 3, 5, 7))
series

1    1.0
3    1.5
5    2.0
7    2.5
dtype: float64

In [33]:
series.index

Int64Index([1, 3, 5, 7], dtype='int64')

In [34]:
series = pd.Series([1.0, 1.5, 2.0, 2.5],
                   index = ('abc', 'def', 'a', 'c'))
series

abc    1.0
def    1.5
a      2.0
c      2.5
dtype: float64

In [35]:
series['a'], series[2]

(2.0, 2.0)

In [36]:
series['abc']

1.0

In [40]:
series.loc['abc']

1.0

In [41]:
series.iloc[-1]

2.5

In [43]:
series = pd.Series([1.0, 1.5, 2.0, 2.5],
                   index = ((1,2), (3,4), 'a', 'c'))
series

(1, 2)    1.0
(3, 4)    1.5
a         2.0
c         2.5
dtype: float64

In [44]:
series[(3, 4)]

1.5

In [55]:
series = pd.Series([1.0, 1.5, 2.0, 2.5],
                   index = ([3,2], (3,4), 'a', 'c'))
series

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[3, 2]    1.0
(3, 4)    1.5
a         2.0
c         2.5
dtype: float64

#### Series 객체의 인덱싱

- 위치기반 인덱싱
- 레이블기반 인덱싱

In [58]:
series5 = pd.Series([1,3,5], index=list('ace') )
series5

a    1
c    3
e    5
dtype: int64

In [62]:
series5['a'], series5['c'], series5['e']

(1, 3, 5)

In [62]:
series5[0], series5[1], series5[2]

(1, 3, 5)

In [65]:
series8 = pd.Series([1,3,5], index=[2, 3, 4] )
series8

2    1
3    3
4    5
dtype: int64

In [70]:
series8[2]

1

In [71]:
series8[0]

KeyError: 0

In [73]:
series8.iloc[0], series8.iloc[1], series8.iloc[2]

(1, 3, 5)

In [74]:
series8.loc[2], series8.loc[3], series8.loc[4]

(1, 3, 5)

In [80]:
series9 = pd.Series([1.0, 1.5, 2.0, 2.5, 3.0],
                   index = (1, 3, 5, 7, 9))
series9

1    1.0
3    1.5
5    2.0
7    2.5
9    3.0
dtype: float64

In [81]:
series9[2]

KeyError: 2

In [82]:
series9[:2]

1    1.0
3    1.5
dtype: float64

In [83]:
series9.iloc[:2]

1    1.0
3    1.5
dtype: float64

In [84]:
series9.loc[:2]

1    1.0
dtype: float64

In [88]:
series9.loc[:3]

1    1.0
3    1.5
dtype: float64

In [89]:
series5

a    1
c    3
e    5
dtype: int64

In [87]:
series5[:'c']

a    1
c    3
dtype: int64

In [95]:
series10 = pd.Series([1, 5, 3, 9], index=list('adcb'))
series10

a    1
d    5
c    3
b    9
dtype: int64

In [96]:
series10[:'c']

a    1
d    5
c    3
dtype: int64

#### pd.date_range()

In [103]:
date_idx = pd.date_range('5/28/2021', periods=9)
date_idx

DatetimeIndex(['2021-05-28', '2021-05-29', '2021-05-30', '2021-05-31',
               '2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05'],
              dtype='datetime64[ns]', freq='D')

In [109]:
date_idx = pd.date_range('5/28/2021', '06/05/2021')
date_idx

DatetimeIndex(['2021-05-28', '2021-05-29', '2021-05-30', '2021-05-31',
               '2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05'],
              dtype='datetime64[ns]', freq='D')

In [104]:
series11 = pd.Series(range(0, 18, 2), index=date_idx)
series11

2021-05-28     0
2021-05-29     2
2021-05-30     4
2021-05-31     6
2021-06-01     8
2021-06-02    10
2021-06-03    12
2021-06-04    14
2021-06-05    16
Freq: D, dtype: int64

In [110]:
series11['5/30/2021']

4

In [111]:
series11['5/30/2021':'6/2/2021']

2021-05-30     4
2021-05-31     6
2021-06-01     8
2021-06-02    10
Freq: D, dtype: int64

#### 부울 배열 인덱싱

In [107]:
series11 > 9

2021-05-28    False
2021-05-29    False
2021-05-30    False
2021-05-31    False
2021-06-01    False
2021-06-02     True
2021-06-03     True
2021-06-04     True
2021-06-05     True
Freq: D, dtype: bool

In [106]:
series11[series11 > 9]

2021-06-02    10
2021-06-03    12
2021-06-04    14
2021-06-05    16
Freq: D, dtype: int64

#### Series 객체 사이의 산술 연산

In [112]:
series11 + 3

2021-05-28     3
2021-05-29     5
2021-05-30     7
2021-05-31     9
2021-06-01    11
2021-06-02    13
2021-06-03    15
2021-06-04    17
2021-06-05    19
Freq: D, dtype: int64

In [113]:
series11 - 1

2021-05-28    -1
2021-05-29     1
2021-05-30     3
2021-05-31     5
2021-06-01     7
2021-06-02     9
2021-06-03    11
2021-06-04    13
2021-06-05    15
Freq: D, dtype: int64

In [114]:
series11 * 2

2021-05-28     0
2021-05-29     4
2021-05-30     8
2021-05-31    12
2021-06-01    16
2021-06-02    20
2021-06-03    24
2021-06-04    28
2021-06-05    32
Freq: D, dtype: int64

In [115]:
series11 / 3

2021-05-28    0.000000
2021-05-29    0.666667
2021-05-30    1.333333
2021-05-31    2.000000
2021-06-01    2.666667
2021-06-02    3.333333
2021-06-03    4.000000
2021-06-04    4.666667
2021-06-05    5.333333
Freq: D, dtype: float64

In [116]:
series11 // 3

2021-05-28    0
2021-05-29    0
2021-05-30    1
2021-05-31    2
2021-06-01    2
2021-06-02    3
2021-06-03    4
2021-06-04    4
2021-06-05    5
Freq: D, dtype: int64

In [117]:
series11 % 3

2021-05-28    0
2021-05-29    2
2021-05-30    1
2021-05-31    0
2021-06-01    2
2021-06-02    1
2021-06-03    0
2021-06-04    2
2021-06-05    1
Freq: D, dtype: int64

In [119]:
series12 = pd.Series([1, 3, 5])
series13 = pd.Series([0, 10, 20])
series12 + series13

0     1
1    13
2    25
dtype: int64

In [120]:
series14 = pd.Series([1, 3, 5], index=[1, 3, 5])
series15 = pd.Series([0, 10, 20], index=[1, 5, 10])
series14 + series15

1      1.0
3      NaN
5     15.0
10     NaN
dtype: float64

In [123]:
series16 = pd.Series([1, 3, 5], index=[1, 3, 5])
series17 = pd.Series([0, 10], index=[1, 5])
series16 + series17

1     1.0
3     NaN
5    15.0
dtype: float64

In [125]:
np.sqrt(series16)

1    1.000000
3    1.732051
5    2.236068
dtype: float64

# <p style='text-align: center;'> Python 과학 프로그래밍 기초</p>

## <p style='text-align: center;'> 8. Pandas (2)

### <p style='text-align: center;'> 2021년 1학기 </p>
### <p style='text-align: center;'> 한림대학교 소프트웨어융합대학 </p>
### <p style='text-align: center;'> 박섭형 </p>

#### Pandas DataFrame 객체

* 2 차원 데이터 구조
* 크기 변경 가능
* 라벨을 갖는 축: 행과 열
* 컬럼마다 데이터 유형이 다를 수 있음
* 행 단위로 또는 열 단위로 산술 연산을 수행할 수 있음

#### Pandas DataFrame 객체 생성

pandas.DataFrame(data=None, index: 'Optional[Axes]' = None, columns: 'Optional[Axes]' = None, dtype: 'Optional[Dtype]' = None, copy: 'bool' = False)

In [2]:
df0 = pd.DataFrame()
print(df0)

Empty DataFrame
Columns: []
Index: []

In [3]:
arr = [[3, 6], [2, 4]]
df1 = pd.DataFrame(arr)
df1

   0  1
0  3  6
1  2  4

In [4]:
df1[0]

0    3
1    2
Name: 0, dtype: int64

In [5]:
df1[1]

0    6
1    4
Name: 1, dtype: int64

In [6]:
type(df1[0])

pandas.core.series.Series

In [7]:
df1[0][0]

3

#### 열(column)의 label 지정하기

In [8]:
df2 = pd.DataFrame(arr, columns=[3, 5])
df2

   3  5
0  3  6
1  2  4

In [9]:
df2[3]

0    3
1    2
Name: 3, dtype: int64

In [10]:
df2[3][0]

3

In [11]:
df2 = pd.DataFrame(arr, columns=['a', 'b'])
df2

   a  b
0  3  6
1  2  4

In [12]:
df2['a']

0    3
1    2
Name: a, dtype: int64

#### 행(row)의 index 지정하기

In [13]:
df2 = pd.DataFrame(arr, index=['r1', 'r2'], columns=['a', 'b'])
df2

    a  b
r1  3  6
r2  2  4

In [14]:
df2['a']['r1']

3

In [15]:
df2['a'].iloc[0]

3

In [16]:
df2['a'].loc['r1']

3

#### Column의 label과 row의 index 변경

In [17]:
df2.index

Index(['r1', 'r2'], dtype='object')

In [18]:
df2.columns

Index(['a', 'b'], dtype='object')

In [19]:
df2.columns=[1,2]
df2

    1  2
r1  3  6
r2  2  4

In [20]:
df2.index=[1,2]
df2

   1  2
1  3  6
2  2  4

#### Dictionary를 이용해서 DataFrame 생성하기

In [21]:
d = {'a':[1, 2, 3], 'b':[1, 3, 5]}
df3 = pd.DataFrame(d)
df3

   a  b
0  1  1
1  2  3
2  3  5

In [22]:
d = {'a':[1, 2, 3], 'b':[1, 3, 5]}
df3 = pd.DataFrame(d, index=[3, 6, 9])
df3

   a  b
3  1  1
6  2  3
9  3  5

#### 두 DataFrame 객체 이어붙이기

In [23]:
print(df2)
print(df3)
df3.append(df2)

   1  2
1  3  6
2  2  4
   a  b
3  1  1
6  2  3
9  3  5

     a    b    1    2
3  1.0  1.0  NaN  NaN
6  2.0  3.0  NaN  NaN
9  3.0  5.0  NaN  NaN
1  NaN  NaN  3.0  6.0
2  NaN  NaN  2.0  4.0

In [24]:
df4 = pd.DataFrame(np.random.randint(1, 10, (3,2)))
df4

   0  1
0  1  1
1  2  1
2  5  4

In [25]:
df5 = pd.DataFrame(np.random.randint(1, 10, (3,3)))
df5

   0  1  2
0  1  2  8
1  1  3  5
2  9  1  8

In [26]:
df6 = df4.append(df5)
df6

   0  1    2
0  1  1  NaN
1  2  1  NaN
2  5  4  NaN
0  1  2  8.0
1  1  3  5.0
2  9  1  8.0

In [27]:
df5[2].dtype, df6[2].dtype

(dtype('int32'), dtype('float64'))

In [29]:
df7 = pd.DataFrame(np.random.randint(1, 10, (4,3)), columns=list('abc'))
df7

   a  b  c
0  4  6  7
1  5  6  2
2  3  5  7
3  5  7  6

In [30]:
df8 = pd.DataFrame(np.random.randint(1, 10, (2,3)), columns=list('abc'))
df8

   a  b  c
0  5  8  5
1  7  9  5

In [31]:
df9 = df7.append(df8)
df9

   a  b  c
0  4  6  7
1  5  6  2
2  3  5  7
3  5  7  6
0  5  8  5
1  7  9  5

In [32]:
df9['a'][df9['a'] > 3]

0    4
1    5
3    5
0    5
1    7
Name: a, dtype: int32

In [33]:
df9 > 3

       a     b      c
0   True  True   True
1   True  True  False
2  False  True   True
3   True  True   True
0   True  True   True
1   True  True   True

In [34]:
df9[df9 > 3]

     a  b    c
0  4.0  6  7.0
1  5.0  6  NaN
2  NaN  5  7.0
3  5.0  7  6.0
0  5.0  8  5.0
1  7.0  9  5.0

#### DataFrame 객체와 상수의 산술 연산

In [35]:
df9

   a  b  c
0  4  6  7
1  5  6  2
2  3  5  7
3  5  7  6
0  5  8  5
1  7  9  5

In [36]:
df9.values

array([[4, 6, 7],
       [5, 6, 2],
       [3, 5, 7],
       [5, 7, 6],
       [5, 8, 5],
       [7, 9, 5]])

In [37]:
df9 + 3

    a   b   c
0   7   9  10
1   8   9   5
2   6   8  10
3   8  10   9
0   8  11   8
1  10  12   8

#### NumPy ufunc를 이용한 DataFrame의 연산

In [38]:
np.sqrt(df9)

          a         b         c
0  2.000000  2.449490  2.645751
1  2.236068  2.449490  1.414214
2  1.732051  2.236068  2.645751
3  2.236068  2.645751  2.449490
0  2.236068  2.828427  2.236068
1  2.645751  3.000000  2.236068

#### DataFrame 객체 사이의 산술 연산

In [39]:
df9

   a  b  c
0  4  6  7
1  5  6  2
2  3  5  7
3  5  7  6
0  5  8  5
1  7  9  5

In [40]:
df9['a'] + df9['b']

0    10
1    11
2     8
3    12
0    13
1    16
dtype: int32

In [41]:
df10 = pd.DataFrame(np.random.randint(1, 10, (3,3)), columns=list('abc'))
df11 = pd.DataFrame(np.random.randint(1, 10, (3,3)), columns=list('abc'))

In [42]:
df10

   a  b  c
0  3  8  8
1  3  2  8
2  2  1  8

In [43]:
df11

   a  b  c
0  5  1  1
1  6  7  4
2  3  8  9

In [44]:
df10 + df11

   a  b   c
0  8  9   9
1  9  9  12
2  5  9  17

#### csv 파일을 읽어서 DataFrame 만들기

In [49]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[ForwardRef('PathLike[str]'), str, IO[~T], io.RawIOBase, io.BufferedIOBase, io.TextIOBase, _io.TextIOWrapper, mmap.mmap], sep=<object object at 0x0000020C3A3D6AD0>, delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: Union[Dict[str, Any], NoneType] = None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are ``None`` or 'high' for the ordinary converter,
        'legacy' for the original lower precision pandas converter, and
        'round_trip' for the round-trip converter.

        .. versionchanged:: 1.2

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc., if using a URL that will
        be parsed by ``fsspec``, e.g., starting "s3://", "gcs://". An error
        will be raised if providing this argument with a non-fsspec URL.
        See the fsspec and backend storage implementation docs for the set of
        allowed keys and values.

        .. versionadded:: 1.2

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [75]:
student_record_file_name = "student_records.csv"
scores = pd.read_csv(student_record_file_name)

In [50]:
type(scores)

pandas.core.frame.DataFrame

In [52]:
scores.columns

Index(['이름', '학번', '소속', '시험1', '시험2', '시험3', '시험4', '시험5'], dtype='object')

In [53]:
scores.index

RangeIndex(start=0, stop=40, step=1)

In [54]:
scores.head()

    이름        학번         소속  시험1  시험2  시험3  시험4  시험5
0  서승운  20235458    콘텐츠IT전공   77   43   93   49   53
1  고도범  20277426  융합소프트웨어학과   67   43   87   52   47
2  김명빈  20324832     컴퓨터공학과   42   75   89   30   58
3  이승훈  20307405     빅데이터전공   46   77   71   56   52
4  안동우  20327385    콘텐츠IT전공   71   83   69   45   89

In [56]:
scores.head(10)

    이름        학번         소속  시험1  시험2  시험3  시험4  시험5
0  서승운  20235458    콘텐츠IT전공   77   43   93   49   53
1  고도범  20277426  융합소프트웨어학과   67   43   87   52   47
2  김명빈  20324832     컴퓨터공학과   42   75   89   30   58
3  이승훈  20307405     빅데이터전공   46   77   71   56   52
4  안동우  20327385    콘텐츠IT전공   71   83   69   45   89
5  서호근  20287365    콘텐츠IT전공   84   89   50   28   76
6  서기제  20315494     빅데이터전공   47   72   61   32   88
7  서승제  20277417   스마트IoT전공   76   90   91   65   60
8  서준수  20295450     빅데이터전공  100   57   65   59   82
9  김경혁  20315508     빅데이터전공   96   82   57   24  100

In [57]:
scores.tail()

     이름        학번       소속  시험1  시험2  시험3  시험4  시험5
35  김성제  20297436  콘텐츠IT전공   72   65   56   44   52
36  신정형  20287459   빅데이터전공   68   85   36   43   61
37  정고기  20287368  콘텐츠IT전공   56   57   37   69   89
38  김현환  20274845   금융재무학과   98   72   71   48   84
39  서도규  20243932  콘텐츠IT전공  100   41   75   28   91

In [58]:
scores.tail(3)

     이름        학번       소속  시험1  시험2  시험3  시험4  시험5
37  정고기  20287368  콘텐츠IT전공   56   57   37   69   89
38  김현환  20274845   금융재무학과   98   72   71   48   84
39  서도규  20243932  콘텐츠IT전공  100   41   75   28   91

In [59]:
scores.describe()

                 학번         시험1         시험2        시험3        시험4        시험5
count  4.000000e+01   40.000000   40.000000  40.000000  40.000000   40.00000
mean   2.029210e+07   72.500000   67.325000  62.850000  45.350000   72.02500
std    2.052440e+04   18.632753   18.837207  17.015152  13.759006   16.49318
min    2.023546e+07   41.000000   41.000000  35.000000  24.000000   47.00000
25%    2.027750e+07   56.750000   48.000000  49.750000  32.750000   56.75000
50%    2.029147e+07   71.500000   69.500000  63.500000  45.000000   72.50000
75%    2.030551e+07   88.250000   82.250000  72.000000  56.000000   88.00000
max    2.032751e+07  100.000000  100.000000  95.000000  71.000000  100.00000

#### 특정 열을 index로 변경하기

In [71]:
scores.set_index('이름')

           학번         소속  시험1  시험2  시험3  시험4  시험5
이름
서승운  20235458    콘텐츠IT전공   77   43   93   49   53
고도범  20277426  융합소프트웨어학과   67   43   87   52   47
김명빈  20324832     컴퓨터공학과   42   75   89   30   58
이승훈  20307405     빅데이터전공   46   77   71   56   52
안동우  20327385    콘텐츠IT전공   71   83   69   45   89
서호근  20287365    콘텐츠IT전공   84   89   50   28   76
서기제  20315494     빅데이터전공   47   72   61   32   88
서승제  20277417   스마트IoT전공   76   90   91   65   60
서준수  20295450     빅데이터전공  100   57   65   59   82
김경혁  20315508     빅데이터전공   96   82   57   24  100
이준민  20297333    콘텐츠IT전공   48   87   50   44   65
장도민  20287490    데이터테크전공   92   67   90   52   57
이준언  20297348   스마트IoT전공   54   82   49   24   71
최재규  20287394      전자공학과   63   79   71   40  100
김웅빈  20304876     빅데이터전공   65   46   65   56   65
김제용  20287360      전자공학과   78   43   41   24   76
김동우  20327511      전자공학과   79   64   44   56   56
신진근  20277479      전자공학과   70   70   54   28   49
김휘규  20285447   임상의학통계전공  100  100   68   42   49
정종혁  20267486     빅데이터전공   98   50   57   63   54
정동기  20297460    콘텐츠IT전공   87   91   49   33   73
장준근  20267467    콘텐츠IT전공   84   78   57   46   91
신봉형  20287415     빅데이터전공   61   53   65   55   97
강영용  20285526     빅데이터전공   70   96   46   45   90
서도운  20297418    데이터테크전공   50   48   36   31   77
이승수  20297411     광고홍보학과   48   41   35   64   86
김기환  20267415   스마트IoT전공   53   58   67   36   88
최정규  20297325      러시아학과   97   69   77   53   92
정예기  20307408     빅데이터전공   41   95   63   63   51
최성현  20277513    데이터테크전공   75   43   55   58   73
정재하  20317337   스마트IoT전공   57   42   84   28   72
이재근  20317601   스마트IoT전공   78   72   47   59   57
이웅훈  20317504    콘텐츠IT전공   96   96   95   71   56
조제기  20297467    데이터테크전공   60   44   77   36   67
김준혁  20277417    데이터테크전공   96   48   64   35   87
김성제  20297436    콘텐츠IT전공   72   65   56   44   52
신정형  20287459     빅데이터전공   68   85   36   43   61
정고기  20287368    콘텐츠IT전공   56   57   37   69   89
김현환  20274845     금융재무학과   98   72   71   48   84
서도규  20243932    콘텐츠IT전공  100   41   75   28   91

In [72]:
scores

     이름        학번         소속  시험1  시험2  시험3  시험4  시험5
0   서승운  20235458    콘텐츠IT전공   77   43   93   49   53
1   고도범  20277426  융합소프트웨어학과   67   43   87   52   47
2   김명빈  20324832     컴퓨터공학과   42   75   89   30   58
3   이승훈  20307405     빅데이터전공   46   77   71   56   52
4   안동우  20327385    콘텐츠IT전공   71   83   69   45   89
5   서호근  20287365    콘텐츠IT전공   84   89   50   28   76
6   서기제  20315494     빅데이터전공   47   72   61   32   88
7   서승제  20277417   스마트IoT전공   76   90   91   65   60
8   서준수  20295450     빅데이터전공  100   57   65   59   82
9   김경혁  20315508     빅데이터전공   96   82   57   24  100
10  이준민  20297333    콘텐츠IT전공   48   87   50   44   65
11  장도민  20287490    데이터테크전공   92   67   90   52   57
12  이준언  20297348   스마트IoT전공   54   82   49   24   71
13  최재규  20287394      전자공학과   63   79   71   40  100
14  김웅빈  20304876     빅데이터전공   65   46   65   56   65
15  김제용  20287360      전자공학과   78   43   41   24   76
16  김동우  20327511      전자공학과   79   64   44   56   56
17  신진근  20277479      전자공학과   70   70   54   28   49
18  김휘규  20285447   임상의학통계전공  100  100   68   42   49
19  정종혁  20267486     빅데이터전공   98   50   57   63   54
20  정동기  20297460    콘텐츠IT전공   87   91   49   33   73
21  장준근  20267467    콘텐츠IT전공   84   78   57   46   91
22  신봉형  20287415     빅데이터전공   61   53   65   55   97
23  강영용  20285526     빅데이터전공   70   96   46   45   90
24  서도운  20297418    데이터테크전공   50   48   36   31   77
25  이승수  20297411     광고홍보학과   48   41   35   64   86
26  김기환  20267415   스마트IoT전공   53   58   67   36   88
27  최정규  20297325      러시아학과   97   69   77   53   92
28  정예기  20307408     빅데이터전공   41   95   63   63   51
29  최성현  20277513    데이터테크전공   75   43   55   58   73
30  정재하  20317337   스마트IoT전공   57   42   84   28   72
31  이재근  20317601   스마트IoT전공   78   72   47   59   57
32  이웅훈  20317504    콘텐츠IT전공   96   96   95   71   56
33  조제기  20297467    데이터테크전공   60   44   77   36   67
34  김준혁  20277417    데이터테크전공   96   48   64   35   87
35  김성제  20297436    콘텐츠IT전공   72   65   56   44   52
36  신정형  20287459     빅데이터전공   68   85   36   43   61
37  정고기  20287368    콘텐츠IT전공   56   57   37   69   89
38  김현환  20274845     금융재무학과   98   72   71   48   84
39  서도규  20243932    콘텐츠IT전공  100   41   75   28   91

In [76]:
scores.set_index('이름', inplace=True)
scores

           학번         소속  시험1  시험2  시험3  시험4  시험5
이름
서승운  20235458    콘텐츠IT전공   77   43   93   49   53
고도범  20277426  융합소프트웨어학과   67   43   87   52   47
김명빈  20324832     컴퓨터공학과   42   75   89   30   58
이승훈  20307405     빅데이터전공   46   77   71   56   52
안동우  20327385    콘텐츠IT전공   71   83   69   45   89
서호근  20287365    콘텐츠IT전공   84   89   50   28   76
서기제  20315494     빅데이터전공   47   72   61   32   88
서승제  20277417   스마트IoT전공   76   90   91   65   60
서준수  20295450     빅데이터전공  100   57   65   59   82
김경혁  20315508     빅데이터전공   96   82   57   24  100
이준민  20297333    콘텐츠IT전공   48   87   50   44   65
장도민  20287490    데이터테크전공   92   67   90   52   57
이준언  20297348   스마트IoT전공   54   82   49   24   71
최재규  20287394      전자공학과   63   79   71   40  100
김웅빈  20304876     빅데이터전공   65   46   65   56   65
김제용  20287360      전자공학과   78   43   41   24   76
김동우  20327511      전자공학과   79   64   44   56   56
신진근  20277479      전자공학과   70   70   54   28   49
김휘규  20285447   임상의학통계전공  100  100   68   42   49
정종혁  20267486     빅데이터전공   98   50   57   63   54
정동기  20297460    콘텐츠IT전공   87   91   49   33   73
장준근  20267467    콘텐츠IT전공   84   78   57   46   91
신봉형  20287415     빅데이터전공   61   53   65   55   97
강영용  20285526     빅데이터전공   70   96   46   45   90
서도운  20297418    데이터테크전공   50   48   36   31   77
이승수  20297411     광고홍보학과   48   41   35   64   86
김기환  20267415   스마트IoT전공   53   58   67   36   88
최정규  20297325      러시아학과   97   69   77   53   92
정예기  20307408     빅데이터전공   41   95   63   63   51
최성현  20277513    데이터테크전공   75   43   55   58   73
정재하  20317337   스마트IoT전공   57   42   84   28   72
이재근  20317601   스마트IoT전공   78   72   47   59   57
이웅훈  20317504    콘텐츠IT전공   96   96   95   71   56
조제기  20297467    데이터테크전공   60   44   77   36   67
김준혁  20277417    데이터테크전공   96   48   64   35   87
김성제  20297436    콘텐츠IT전공   72   65   56   44   52
신정형  20287459     빅데이터전공   68   85   36   43   61
정고기  20287368    콘텐츠IT전공   56   57   37   69   89
김현환  20274845     금융재무학과   98   72   71   48   84
서도규  20243932    콘텐츠IT전공  100   41   75   28   91

In [77]:
scores.loc['서도규']

학번     20243932
소속      콘텐츠IT전공
시험1         100
시험2          41
시험3          75
시험4          28
시험5          91
Name: 서도규, dtype: object

In [78]:
scores.iloc[39]

학번     20243932
소속      콘텐츠IT전공
시험1         100
시험2          41
시험3          75
시험4          28
시험5          91
Name: 서도규, dtype: object

#### DataFrame에 새로운 열 추가

In [79]:
scores[['시험1', '시험2', '시험3', '시험4', '시험5']]

     시험1  시험2  시험3  시험4  시험5
이름
서승운   77   43   93   49   53
고도범   67   43   87   52   47
김명빈   42   75   89   30   58
이승훈   46   77   71   56   52
안동우   71   83   69   45   89
서호근   84   89   50   28   76
서기제   47   72   61   32   88
서승제   76   90   91   65   60
서준수  100   57   65   59   82
김경혁   96   82   57   24  100
이준민   48   87   50   44   65
장도민   92   67   90   52   57
이준언   54   82   49   24   71
최재규   63   79   71   40  100
김웅빈   65   46   65   56   65
김제용   78   43   41   24   76
김동우   79   64   44   56   56
신진근   70   70   54   28   49
김휘규  100  100   68   42   49
정종혁   98   50   57   63   54
정동기   87   91   49   33   73
장준근   84   78   57   46   91
신봉형   61   53   65   55   97
강영용   70   96   46   45   90
서도운   50   48   36   31   77
이승수   48   41   35   64   86
김기환   53   58   67   36   88
최정규   97   69   77   53   92
정예기   41   95   63   63   51
최성현   75   43   55   58   73
정재하   57   42   84   28   72
이재근   78   72   47   59   57
이웅훈   96   96   95   71   56
조제기   60   44   77   36   67
김준혁   96   48   64   35   87
김성제   72   65   56   44   52
신정형   68   85   36   43   61
정고기   56   57   37   69   89
김현환   98   72   71   48   84
서도규  100   41   75   28   91

In [80]:
scores[['시험1', '시험2', '시험3', '시험4', '시험5']].sum(axis=1)

이름
서승운    315
고도범    296
김명빈    294
이승훈    302
안동우    357
서호근    327
서기제    300
서승제    382
서준수    363
김경혁    359
이준민    294
장도민    358
이준언    280
최재규    353
김웅빈    297
김제용    262
김동우    299
신진근    271
김휘규    359
정종혁    322
정동기    333
장준근    356
신봉형    331
강영용    347
서도운    242
이승수    274
김기환    302
최정규    388
정예기    313
최성현    304
정재하    283
이재근    313
이웅훈    414
조제기    284
김준혁    330
김성제    289
신정형    293
정고기    308
김현환    373
서도규    335
dtype: int64

In [82]:
scores['합계'] = scores[['시험1', '시험2', '시험3', '시험4', '시험5']].sum(axis=1)
scores

           학번         소속  시험1  시험2  시험3  시험4  시험5   합계
이름
서승운  20235458    콘텐츠IT전공   77   43   93   49   53  315
고도범  20277426  융합소프트웨어학과   67   43   87   52   47  296
김명빈  20324832     컴퓨터공학과   42   75   89   30   58  294
이승훈  20307405     빅데이터전공   46   77   71   56   52  302
안동우  20327385    콘텐츠IT전공   71   83   69   45   89  357
서호근  20287365    콘텐츠IT전공   84   89   50   28   76  327
서기제  20315494     빅데이터전공   47   72   61   32   88  300
서승제  20277417   스마트IoT전공   76   90   91   65   60  382
서준수  20295450     빅데이터전공  100   57   65   59   82  363
김경혁  20315508     빅데이터전공   96   82   57   24  100  359
이준민  20297333    콘텐츠IT전공   48   87   50   44   65  294
장도민  20287490    데이터테크전공   92   67   90   52   57  358
이준언  20297348   스마트IoT전공   54   82   49   24   71  280
최재규  20287394      전자공학과   63   79   71   40  100  353
김웅빈  20304876     빅데이터전공   65   46   65   56   65  297
김제용  20287360      전자공학과   78   43   41   24   76  262
김동우  20327511      전자공학과   79   64   44   56   56  299
신진근  20277479      전자공학과   70   70   54   28   49  271
김휘규  20285447   임상의학통계전공  100  100   68   42   49  359
정종혁  20267486     빅데이터전공   98   50   57   63   54  322
정동기  20297460    콘텐츠IT전공   87   91   49   33   73  333
장준근  20267467    콘텐츠IT전공   84   78   57   46   91  356
신봉형  20287415     빅데이터전공   61   53   65   55   97  331
강영용  20285526     빅데이터전공   70   96   46   45   90  347
서도운  20297418    데이터테크전공   50   48   36   31   77  242
이승수  20297411     광고홍보학과   48   41   35   64   86  274
김기환  20267415   스마트IoT전공   53   58   67   36   88  302
최정규  20297325      러시아학과   97   69   77   53   92  388
정예기  20307408     빅데이터전공   41   95   63   63   51  313
최성현  20277513    데이터테크전공   75   43   55   58   73  304
정재하  20317337   스마트IoT전공   57   42   84   28   72  283
이재근  20317601   스마트IoT전공   78   72   47   59   57  313
이웅훈  20317504    콘텐츠IT전공   96   96   95   71   56  414
조제기  20297467    데이터테크전공   60   44   77   36   67  284
김준혁  20277417    데이터테크전공   96   48   64   35   87  330
김성제  20297436    콘텐츠IT전공   72   65   56   44   52  289
신정형  20287459     빅데이터전공   68   85   36   43   61  293
정고기  20287368    콘텐츠IT전공   56   57   37   69   89  308
김현환  20274845     금융재무학과   98   72   71   48   84  373
서도규  20243932    콘텐츠IT전공  100   41   75   28   91  335

#### DataFrame 정렬하기

In [87]:
scores.sort_index()

           학번         소속  시험1  시험2  시험3  시험4  시험5   합계
이름
강영용  20285526     빅데이터전공   70   96   46   45   90  347
고도범  20277426  융합소프트웨어학과   67   43   87   52   47  296
김경혁  20315508     빅데이터전공   96   82   57   24  100  359
김기환  20267415   스마트IoT전공   53   58   67   36   88  302
김동우  20327511      전자공학과   79   64   44   56   56  299
김명빈  20324832     컴퓨터공학과   42   75   89   30   58  294
김성제  20297436    콘텐츠IT전공   72   65   56   44   52  289
김웅빈  20304876     빅데이터전공   65   46   65   56   65  297
김제용  20287360      전자공학과   78   43   41   24   76  262
김준혁  20277417    데이터테크전공   96   48   64   35   87  330
김현환  20274845     금융재무학과   98   72   71   48   84  373
김휘규  20285447   임상의학통계전공  100  100   68   42   49  359
서기제  20315494     빅데이터전공   47   72   61   32   88  300
서도규  20243932    콘텐츠IT전공  100   41   75   28   91  335
서도운  20297418    데이터테크전공   50   48   36   31   77  242
서승운  20235458    콘텐츠IT전공   77   43   93   49   53  315
서승제  20277417   스마트IoT전공   76   90   91   65   60  382
서준수  20295450     빅데이터전공  100   57   65   59   82  363
서호근  20287365    콘텐츠IT전공   84   89   50   28   76  327
신봉형  20287415     빅데이터전공   61   53   65   55   97  331
신정형  20287459     빅데이터전공   68   85   36   43   61  293
신진근  20277479      전자공학과   70   70   54   28   49  271
안동우  20327385    콘텐츠IT전공   71   83   69   45   89  357
이승수  20297411     광고홍보학과   48   41   35   64   86  274
이승훈  20307405     빅데이터전공   46   77   71   56   52  302
이웅훈  20317504    콘텐츠IT전공   96   96   95   71   56  414
이재근  20317601   스마트IoT전공   78   72   47   59   57  313
이준민  20297333    콘텐츠IT전공   48   87   50   44   65  294
이준언  20297348   스마트IoT전공   54   82   49   24   71  280
장도민  20287490    데이터테크전공   92   67   90   52   57  358
장준근  20267467    콘텐츠IT전공   84   78   57   46   91  356
정고기  20287368    콘텐츠IT전공   56   57   37   69   89  308
정동기  20297460    콘텐츠IT전공   87   91   49   33   73  333
정예기  20307408     빅데이터전공   41   95   63   63   51  313
정재하  20317337   스마트IoT전공   57   42   84   28   72  283
정종혁  20267486     빅데이터전공   98   50   57   63   54  322
조제기  20297467    데이터테크전공   60   44   77   36   67  284
최성현  20277513    데이터테크전공   75   43   55   58   73  304
최재규  20287394      전자공학과   63   79   71   40  100  353
최정규  20297325      러시아학과   97   69   77   53   92  388

In [88]:
scores.sort_index(ascending=False)

           학번         소속  시험1  시험2  시험3  시험4  시험5   합계
이름
최정규  20297325      러시아학과   97   69   77   53   92  388
최재규  20287394      전자공학과   63   79   71   40  100  353
최성현  20277513    데이터테크전공   75   43   55   58   73  304
조제기  20297467    데이터테크전공   60   44   77   36   67  284
정종혁  20267486     빅데이터전공   98   50   57   63   54  322
정재하  20317337   스마트IoT전공   57   42   84   28   72  283
정예기  20307408     빅데이터전공   41   95   63   63   51  313
정동기  20297460    콘텐츠IT전공   87   91   49   33   73  333
정고기  20287368    콘텐츠IT전공   56   57   37   69   89  308
장준근  20267467    콘텐츠IT전공   84   78   57   46   91  356
장도민  20287490    데이터테크전공   92   67   90   52   57  358
이준언  20297348   스마트IoT전공   54   82   49   24   71  280
이준민  20297333    콘텐츠IT전공   48   87   50   44   65  294
이재근  20317601   스마트IoT전공   78   72   47   59   57  313
이웅훈  20317504    콘텐츠IT전공   96   96   95   71   56  414
이승훈  20307405     빅데이터전공   46   77   71   56   52  302
이승수  20297411     광고홍보학과   48   41   35   64   86  274
안동우  20327385    콘텐츠IT전공   71   83   69   45   89  357
신진근  20277479      전자공학과   70   70   54   28   49  271
신정형  20287459     빅데이터전공   68   85   36   43   61  293
신봉형  20287415     빅데이터전공   61   53   65   55   97  331
서호근  20287365    콘텐츠IT전공   84   89   50   28   76  327
서준수  20295450     빅데이터전공  100   57   65   59   82  363
서승제  20277417   스마트IoT전공   76   90   91   65   60  382
서승운  20235458    콘텐츠IT전공   77   43   93   49   53  315
서도운  20297418    데이터테크전공   50   48   36   31   77  242
서도규  20243932    콘텐츠IT전공  100   41   75   28   91  335
서기제  20315494     빅데이터전공   47   72   61   32   88  300
김휘규  20285447   임상의학통계전공  100  100   68   42   49  359
김현환  20274845     금융재무학과   98   72   71   48   84  373
김준혁  20277417    데이터테크전공   96   48   64   35   87  330
김제용  20287360      전자공학과   78   43   41   24   76  262
김웅빈  20304876     빅데이터전공   65   46   65   56   65  297
김성제  20297436    콘텐츠IT전공   72   65   56   44   52  289
김명빈  20324832     컴퓨터공학과   42   75   89   30   58  294
김동우  20327511      전자공학과   79   64   44   56   56  299
김기환  20267415   스마트IoT전공   53   58   67   36   88  302
김경혁  20315508     빅데이터전공   96   82   57   24  100  359
고도범  20277426  융합소프트웨어학과   67   43   87   52   47  296
강영용  20285526     빅데이터전공   70   96   46   45   90  347

In [89]:
scores.sort_values(by='이름')

           학번         소속  시험1  시험2  시험3  시험4  시험5   합계
이름
강영용  20285526     빅데이터전공   70   96   46   45   90  347
고도범  20277426  융합소프트웨어학과   67   43   87   52   47  296
김경혁  20315508     빅데이터전공   96   82   57   24  100  359
김기환  20267415   스마트IoT전공   53   58   67   36   88  302
김동우  20327511      전자공학과   79   64   44   56   56  299
김명빈  20324832     컴퓨터공학과   42   75   89   30   58  294
김성제  20297436    콘텐츠IT전공   72   65   56   44   52  289
김웅빈  20304876     빅데이터전공   65   46   65   56   65  297
김제용  20287360      전자공학과   78   43   41   24   76  262
김준혁  20277417    데이터테크전공   96   48   64   35   87  330
김현환  20274845     금융재무학과   98   72   71   48   84  373
김휘규  20285447   임상의학통계전공  100  100   68   42   49  359
서기제  20315494     빅데이터전공   47   72   61   32   88  300
서도규  20243932    콘텐츠IT전공  100   41   75   28   91  335
서도운  20297418    데이터테크전공   50   48   36   31   77  242
서승운  20235458    콘텐츠IT전공   77   43   93   49   53  315
서승제  20277417   스마트IoT전공   76   90   91   65   60  382
서준수  20295450     빅데이터전공  100   57   65   59   82  363
서호근  20287365    콘텐츠IT전공   84   89   50   28   76  327
신봉형  20287415     빅데이터전공   61   53   65   55   97  331
신정형  20287459     빅데이터전공   68   85   36   43   61  293
신진근  20277479      전자공학과   70   70   54   28   49  271
안동우  20327385    콘텐츠IT전공   71   83   69   45   89  357
이승수  20297411     광고홍보학과   48   41   35   64   86  274
이승훈  20307405     빅데이터전공   46   77   71   56   52  302
이웅훈  20317504    콘텐츠IT전공   96   96   95   71   56  414
이재근  20317601   스마트IoT전공   78   72   47   59   57  313
이준민  20297333    콘텐츠IT전공   48   87   50   44   65  294
이준언  20297348   스마트IoT전공   54   82   49   24   71  280
장도민  20287490    데이터테크전공   92   67   90   52   57  358
장준근  20267467    콘텐츠IT전공   84   78   57   46   91  356
정고기  20287368    콘텐츠IT전공   56   57   37   69   89  308
정동기  20297460    콘텐츠IT전공   87   91   49   33   73  333
정예기  20307408     빅데이터전공   41   95   63   63   51  313
정재하  20317337   스마트IoT전공   57   42   84   28   72  283
정종혁  20267486     빅데이터전공   98   50   57   63   54  322
조제기  20297467    데이터테크전공   60   44   77   36   67  284
최성현  20277513    데이터테크전공   75   43   55   58   73  304
최재규  20287394      전자공학과   63   79   71   40  100  353
최정규  20297325      러시아학과   97   69   77   53   92  388

In [90]:
scores.sort_values(by='이름', ascending=False)

           학번         소속  시험1  시험2  시험3  시험4  시험5   합계
이름
최정규  20297325      러시아학과   97   69   77   53   92  388
최재규  20287394      전자공학과   63   79   71   40  100  353
최성현  20277513    데이터테크전공   75   43   55   58   73  304
조제기  20297467    데이터테크전공   60   44   77   36   67  284
정종혁  20267486     빅데이터전공   98   50   57   63   54  322
정재하  20317337   스마트IoT전공   57   42   84   28   72  283
정예기  20307408     빅데이터전공   41   95   63   63   51  313
정동기  20297460    콘텐츠IT전공   87   91   49   33   73  333
정고기  20287368    콘텐츠IT전공   56   57   37   69   89  308
장준근  20267467    콘텐츠IT전공   84   78   57   46   91  356
장도민  20287490    데이터테크전공   92   67   90   52   57  358
이준언  20297348   스마트IoT전공   54   82   49   24   71  280
이준민  20297333    콘텐츠IT전공   48   87   50   44   65  294
이재근  20317601   스마트IoT전공   78   72   47   59   57  313
이웅훈  20317504    콘텐츠IT전공   96   96   95   71   56  414
이승훈  20307405     빅데이터전공   46   77   71   56   52  302
이승수  20297411     광고홍보학과   48   41   35   64   86  274
안동우  20327385    콘텐츠IT전공   71   83   69   45   89  357
신진근  20277479      전자공학과   70   70   54   28   49  271
신정형  20287459     빅데이터전공   68   85   36   43   61  293
신봉형  20287415     빅데이터전공   61   53   65   55   97  331
서호근  20287365    콘텐츠IT전공   84   89   50   28   76  327
서준수  20295450     빅데이터전공  100   57   65   59   82  363
서승제  20277417   스마트IoT전공   76   90   91   65   60  382
서승운  20235458    콘텐츠IT전공   77   43   93   49   53  315
서도운  20297418    데이터테크전공   50   48   36   31   77  242
서도규  20243932    콘텐츠IT전공  100   41   75   28   91  335
서기제  20315494     빅데이터전공   47   72   61   32   88  300
김휘규  20285447   임상의학통계전공  100  100   68   42   49  359
김현환  20274845     금융재무학과   98   72   71   48   84  373
김준혁  20277417    데이터테크전공   96   48   64   35   87  330
김제용  20287360      전자공학과   78   43   41   24   76  262
김웅빈  20304876     빅데이터전공   65   46   65   56   65  297
김성제  20297436    콘텐츠IT전공   72   65   56   44   52  289
김명빈  20324832     컴퓨터공학과   42   75   89   30   58  294
김동우  20327511      전자공학과   79   64   44   56   56  299
김기환  20267415   스마트IoT전공   53   58   67   36   88  302
김경혁  20315508     빅데이터전공   96   82   57   24  100  359
고도범  20277426  융합소프트웨어학과   67   43   87   52   47  296
강영용  20285526     빅데이터전공   70   96   46   45   90  347

In [91]:
scores.sort_values(by='소속')

           학번         소속  시험1  시험2  시험3  시험4  시험5   합계
이름
이승수  20297411     광고홍보학과   48   41   35   64   86  274
김현환  20274845     금융재무학과   98   72   71   48   84  373
최성현  20277513    데이터테크전공   75   43   55   58   73  304
조제기  20297467    데이터테크전공   60   44   77   36   67  284
서도운  20297418    데이터테크전공   50   48   36   31   77  242
장도민  20287490    데이터테크전공   92   67   90   52   57  358
김준혁  20277417    데이터테크전공   96   48   64   35   87  330
최정규  20297325      러시아학과   97   69   77   53   92  388
신봉형  20287415     빅데이터전공   61   53   65   55   97  331
김웅빈  20304876     빅데이터전공   65   46   65   56   65  297
강영용  20285526     빅데이터전공   70   96   46   45   90  347
정종혁  20267486     빅데이터전공   98   50   57   63   54  322
서기제  20315494     빅데이터전공   47   72   61   32   88  300
신정형  20287459     빅데이터전공   68   85   36   43   61  293
이승훈  20307405     빅데이터전공   46   77   71   56   52  302
정예기  20307408     빅데이터전공   41   95   63   63   51  313
서준수  20295450     빅데이터전공  100   57   65   59   82  363
김경혁  20315508     빅데이터전공   96   82   57   24  100  359
김기환  20267415   스마트IoT전공   53   58   67   36   88  302
이재근  20317601   스마트IoT전공   78   72   47   59   57  313
정재하  20317337   스마트IoT전공   57   42   84   28   72  283
이준언  20297348   스마트IoT전공   54   82   49   24   71  280
서승제  20277417   스마트IoT전공   76   90   91   65   60  382
고도범  20277426  융합소프트웨어학과   67   43   87   52   47  296
김휘규  20285447   임상의학통계전공  100  100   68   42   49  359
신진근  20277479      전자공학과   70   70   54   28   49  271
김동우  20327511      전자공학과   79   64   44   56   56  299
최재규  20287394      전자공학과   63   79   71   40  100  353
김제용  20287360      전자공학과   78   43   41   24   76  262
김명빈  20324832     컴퓨터공학과   42   75   89   30   58  294
김성제  20297436    콘텐츠IT전공   72   65   56   44   52  289
정고기  20287368    콘텐츠IT전공   56   57   37   69   89  308
서승운  20235458    콘텐츠IT전공   77   43   93   49   53  315
장준근  20267467    콘텐츠IT전공   84   78   57   46   91  356
정동기  20297460    콘텐츠IT전공   87   91   49   33   73  333
이준민  20297333    콘텐츠IT전공   48   87   50   44   65  294
서호근  20287365    콘텐츠IT전공   84   89   50   28   76  327
안동우  20327385    콘텐츠IT전공   71   83   69   45   89  357
이웅훈  20317504    콘텐츠IT전공   96   96   95   71   56  414
서도규  20243932    콘텐츠IT전공  100   41   75   28   91  335

In [92]:
scores

           학번         소속  시험1  시험2  시험3  시험4  시험5   합계
이름
서승운  20235458    콘텐츠IT전공   77   43   93   49   53  315
고도범  20277426  융합소프트웨어학과   67   43   87   52   47  296
김명빈  20324832     컴퓨터공학과   42   75   89   30   58  294
이승훈  20307405     빅데이터전공   46   77   71   56   52  302
안동우  20327385    콘텐츠IT전공   71   83   69   45   89  357
서호근  20287365    콘텐츠IT전공   84   89   50   28   76  327
서기제  20315494     빅데이터전공   47   72   61   32   88  300
서승제  20277417   스마트IoT전공   76   90   91   65   60  382
서준수  20295450     빅데이터전공  100   57   65   59   82  363
김경혁  20315508     빅데이터전공   96   82   57   24  100  359
이준민  20297333    콘텐츠IT전공   48   87   50   44   65  294
장도민  20287490    데이터테크전공   92   67   90   52   57  358
이준언  20297348   스마트IoT전공   54   82   49   24   71  280
최재규  20287394      전자공학과   63   79   71   40  100  353
김웅빈  20304876     빅데이터전공   65   46   65   56   65  297
김제용  20287360      전자공학과   78   43   41   24   76  262
김동우  20327511      전자공학과   79   64   44   56   56  299
신진근  20277479      전자공학과   70   70   54   28   49  271
김휘규  20285447   임상의학통계전공  100  100   68   42   49  359
정종혁  20267486     빅데이터전공   98   50   57   63   54  322
정동기  20297460    콘텐츠IT전공   87   91   49   33   73  333
장준근  20267467    콘텐츠IT전공   84   78   57   46   91  356
신봉형  20287415     빅데이터전공   61   53   65   55   97  331
강영용  20285526     빅데이터전공   70   96   46   45   90  347
서도운  20297418    데이터테크전공   50   48   36   31   77  242
이승수  20297411     광고홍보학과   48   41   35   64   86  274
김기환  20267415   스마트IoT전공   53   58   67   36   88  302
최정규  20297325      러시아학과   97   69   77   53   92  388
정예기  20307408     빅데이터전공   41   95   63   63   51  313
최성현  20277513    데이터테크전공   75   43   55   58   73  304
정재하  20317337   스마트IoT전공   57   42   84   28   72  283
이재근  20317601   스마트IoT전공   78   72   47   59   57  313
이웅훈  20317504    콘텐츠IT전공   96   96   95   71   56  414
조제기  20297467    데이터테크전공   60   44   77   36   67  284
김준혁  20277417    데이터테크전공   96   48   64   35   87  330
김성제  20297436    콘텐츠IT전공   72   65   56   44   52  289
신정형  20287459     빅데이터전공   68   85   36   43   61  293
정고기  20287368    콘텐츠IT전공   56   57   37   69   89  308
김현환  20274845     금융재무학과   98   72   71   48   84  373
서도규  20243932    콘텐츠IT전공  100   41   75   28   91  335

In [93]:
scores.sort_index(inplace=True)

In [94]:
scores

           학번         소속  시험1  시험2  시험3  시험4  시험5   합계
이름
강영용  20285526     빅데이터전공   70   96   46   45   90  347
고도범  20277426  융합소프트웨어학과   67   43   87   52   47  296
김경혁  20315508     빅데이터전공   96   82   57   24  100  359
김기환  20267415   스마트IoT전공   53   58   67   36   88  302
김동우  20327511      전자공학과   79   64   44   56   56  299
김명빈  20324832     컴퓨터공학과   42   75   89   30   58  294
김성제  20297436    콘텐츠IT전공   72   65   56   44   52  289
김웅빈  20304876     빅데이터전공   65   46   65   56   65  297
김제용  20287360      전자공학과   78   43   41   24   76  262
김준혁  20277417    데이터테크전공   96   48   64   35   87  330
김현환  20274845     금융재무학과   98   72   71   48   84  373
김휘규  20285447   임상의학통계전공  100  100   68   42   49  359
서기제  20315494     빅데이터전공   47   72   61   32   88  300
서도규  20243932    콘텐츠IT전공  100   41   75   28   91  335
서도운  20297418    데이터테크전공   50   48   36   31   77  242
서승운  20235458    콘텐츠IT전공   77   43   93   49   53  315
서승제  20277417   스마트IoT전공   76   90   91   65   60  382
서준수  20295450     빅데이터전공  100   57   65   59   82  363
서호근  20287365    콘텐츠IT전공   84   89   50   28   76  327
신봉형  20287415     빅데이터전공   61   53   65   55   97  331
신정형  20287459     빅데이터전공   68   85   36   43   61  293
신진근  20277479      전자공학과   70   70   54   28   49  271
안동우  20327385    콘텐츠IT전공   71   83   69   45   89  357
이승수  20297411     광고홍보학과   48   41   35   64   86  274
이승훈  20307405     빅데이터전공   46   77   71   56   52  302
이웅훈  20317504    콘텐츠IT전공   96   96   95   71   56  414
이재근  20317601   스마트IoT전공   78   72   47   59   57  313
이준민  20297333    콘텐츠IT전공   48   87   50   44   65  294
이준언  20297348   스마트IoT전공   54   82   49   24   71  280
장도민  20287490    데이터테크전공   92   67   90   52   57  358
장준근  20267467    콘텐츠IT전공   84   78   57   46   91  356
정고기  20287368    콘텐츠IT전공   56   57   37   69   89  308
정동기  20297460    콘텐츠IT전공   87   91   49   33   73  333
정예기  20307408     빅데이터전공   41   95   63   63   51  313
정재하  20317337   스마트IoT전공   57   42   84   28   72  283
정종혁  20267486     빅데이터전공   98   50   57   63   54  322
조제기  20297467    데이터테크전공   60   44   77   36   67  284
최성현  20277513    데이터테크전공   75   43   55   58   73  304
최재규  20287394      전자공학과   63   79   71   40  100  353
최정규  20297325      러시아학과   97   69   77   53   92  388

In [95]:
scores.iloc[39]

학번     20297325
소속        러시아학과
시험1          97
시험2          69
시험3          77
시험4          53
시험5          92
합계          388
Name: 최정규, dtype: object